:root{
--main-text-color: #212121;
--button-color: #2196F3;
--second-color: #ffffff;
--navi-color: #757575;
--main-background-color: #2F303A;
--second-background-color: #f5f5f5;
--navi-second-color: rgba(255, 255, 255, 0.6);

}

body {
    font-family: 'roboto', sans-serif;
}

.head {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--main-text-color);
    text-decoration: none;
}

.head-color{
    color: var(--button-color);
}

.footer-head{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--second-color);
    text-decoration: none;  
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-nav{
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--navi-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-link:hover,
.header-link:focus,
.header-nav:hover,
.header-nav:focus,
.footer-adress:hover,
.footer-adress:focus,
.footer-nav:hover,
.footer-nav:focus{
    color: var(--button-color);
}

.class-item{
    cursor: pointer;
}

.header1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--second-color);
    letter-spacing: 0.06em;
    text-transform: uppercase
}

.header-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--second-color);
    background-color: var(--button-color);
}

.header-button:focus{
    cursor: pointer;
}

.section1, 
.footer {
    background-color: var(--main-background-color);
}

.characteristic {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-transform: uppercase;
}

.characteristic-par {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--navi-color);
}

.whatwedo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-sec{
    background-color: var(--second-background-color);
}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-pers{
    background-color: var(--second-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--navi-color);
}

.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--second-color);
}


.head-btn:hover, 
.head-btn:focus{
    color: var(--button-color);
}

.navi-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.navi-btn:hover, 
.navi-btn:focus{
    background-color: var(--button-color);
    color: var(--second-color);
    cursor: pointer;
}

.project-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.project-spec{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--navi-color);
}

.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-color);
}


.footer-nav {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--navi-second-color);
}